@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap");

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
body {
    height: 100vh;
    font-size: 15px;
    display: flex;
    justify-content: center;
}

section {
    width: 54rem;
    align-self: center;
    display: flex;
    justify-content: center;
}

section article {
    padding: 0 2.5rem;
    flex: 1;
    position: relative;
    font-family: "Lexend Deca", sans-serif;
    font-weight: 400;
}
section article.sedans {
    background-color: hsl(31, 77%, 52%);
    border-radius: 0.5rem 0 0 0.5rem;
}
section article.suvs {
    background-color: hsl(184, 100%, 22%);
}
section article.luxury {
    background-color: hsl(179, 100%, 13%);
    border-radius: 0 0.5rem 0.5rem 0;
}

section article img {
    width: 30%;
    margin: 2.5rem 0 2.2rem;
}
section article h2 {
    color: hsl(0, 0%, 95%);
    font-family: "Big Shoulders Display", cursive;
    font-weight: 700;
    font-size: 2.5rem;
}
section article p {
    color: hsla(0, 0%, 100%, 0.75);
    margin-top: 1.5rem;
    margin-bottom: 9rem;
    line-height: 1.6;
}

section article button {
    background: hsl(0, 0%, 95%);
    text-align: center;
    position: absolute;
    bottom: 2.5rem;
    padding: 0.8rem 1.7rem;
    border-radius: 2rem;
    border: none;
}
section article.sedans button {
    color: hsl(31, 77%, 52%);
}
section article.suvs button {
    color: hsl(184, 100%, 22%);
}
section article.luxury button {
    color: hsl(179, 100%, 13%);
}

section article button:hover {
    cursor: pointer;
    color: hsl(0, 0%, 95%);
    border: 1.5px solid hsl(0, 0%, 95%);
}
section article.sedans button:hover {
    background: hsl(31, 77%, 52%);
}
section article.suvs button:hover {
    background: hsl(184, 100%, 22%);
}
section article.luxury button:hover {
    background: hsl(179, 100%, 13%);
}

.attribution {
    font-size: 11px;
    position: absolute;
    bottom: 1rem;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 375px) {
    section {
        width: 80vw;
        flex-direction: column;
        position: absolute;
        top: 5rem;
    }
    section article.sedans {
        border-radius: 0.5rem 0.5rem 0 0;
    }
    section article.luxury {
        border-radius: 0 0 0.5rem 0.5rem;
        margin-bottom: 5rem;
    }
    .attribution {
        display: none;
    }
}
