@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul {
    list-style: url(images/icon-check.svg);
}

html {
    font-size: 15px;
    font-family: "Manrope";
    font-weight: 600;
    color: hsl(225, 20%, 60%);
}
body {
    width: 100%;
    height: 100%;
    background-color: hsl(230, 100%, 99%);
}

.background {
    width: 100%;
    height: 50%;
    object-fit: cover;
    position: fixed;
    z-index: -1;
}
.circle {
    position: absolute;
    top: 4rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}

header {
    text-align: center;
    padding-top: 6.5rem;
}
header h1 {
    font-size: 1.4rem;
}

main {
    width: 90%;
    margin: 4rem auto;
    background-color: hsl(0, 0%, 100%);
    box-shadow: 0px 1rem 1rem hsl(224, 65%, 95%);
    border-radius: 5px;
    text-align: center;
}

main section {
    padding: 2rem;
}
main section:nth-of-type(1) {
    border-bottom: 2px solid hsl(224, 65%, 95%);
}
main section:nth-of-type(1)div {
    letter-spacing: 2px;
}
main section:nth-of-type(1) input {
    width: 100%;
}
button[type="submit"] {
    padding: 1rem 5rem;
    border-style: none;
    border-radius: 3rem;
    color: hsl(226, 100%, 87%);
    background-color: hsl(227, 35%, 25%);
}
